@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

html, body, #root {
    width: 100%;
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F6F7F9;
    text-align: left !important; /* Ini yang bakal ngeberesin teks lu yang lari ke tengah */
    display: block !important;
}

/* Ini bawaan punya Bendahara biar ga rusak */
.content-wrapper {
    flex: 1;
    transition: all 0.4s ease;
    min-height: 100vh;
}